body { margin:0; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background: #fff; font-size: 1.1em; line-height: 1.5; text-align: center;}
h1,h2,h3 { margin: 0; padding: 1em 0; }
p { margin: 0; padding: 1em 0;}

.button { display: inline-block; background: #039; color: #fff; text-decoration: none; padding: 1em 2em;  border: 2px solid #fff; border-radius: 10px; margin: .5em 0; height: 1.5em; }
.button:hover { border-color: #039;}

.inputfile { width: 0.1px; height: 0.1px; opacity: 0; overflow: hidden; position: absolute; z-index: 1; }
.inputfile + label { display: inline-block; background: #039; color: #fff; text-decoration: none; padding: 1em 2em;  border: 2px solid #fff; border-radius: 10px; margin: .5em 0; height: 1.5em; cursor: pointer; }
.inputfile:focus + label,
.inputfile + label:hover { border-color: #039;}

img { display: block; width: 100%; height: auto;}

#section-one { background: #E6E6E6;}
.graphbtn{ background:none; border-style: none; color:#fff; cursor: pointer;}
.graphbtn :hover{transform: translateY(2px);}

#section-two { background: #d0d0d0;}
.context {width: 150px;height: auto; position: absolute;background-color: 'black';display: none;}
.context ul {list-style: none;padding: 0px 0px 0px 0px;}
.context ul li{padding: 10px 5px 10px 5px;background: #fff;border-left: 4px solid transparent;cursor: pointer;}
.context ul li:hover{background: #eee;border-left: 4px solid #666;}
.tab{ position: absolute; left: 0px; height: 3em; width: 12em; } 

#section-three { background: #E6E6E6; padding: 0em 1em; font-size: 15px;} 
.logger { background: none; border: none; cursor: pointer;}
.logger :hover { transform: translateY(2px);}
.input { width: 0.1px; height: 0.1px; opacity: 0; overflow: hidden; position: absolute; z-index: 1; }
.input + label { display: inline-block;  cursor: pointer; }
.input + label :hover { transform: translateY(2px);}

.save { width: 150px;height: auto; position: absolute; margin: -215px 0px 0px 215px; display: none;}
.save ul { list-style:none; padding:0px 0px 0px 0px;}
.save ul li{ padding: 20px 5px 20px 5px;background:#e6e6e6;border-left: 4px solid transparent;cursor: pointer;}
.save ul li:hover{ background: #eee;border-left: 4px solid #666;}

.export { width: 150px;height: auto; position: absolute; margin: -215px 0px 0px 755px; display: none;}
.export ul { list-style:none; padding:0px 0px 0px 0px;}
.export ul li{ padding: 20px 5px 20px 5px;background:#e6e6e6;border-left: 4px solid transparent;cursor: pointer;}
.export ul li:hover{ background: #eee;border-left: 4px solid #666;}

#section-four { color: #fff; background: none; display: none;}
.bg { position: absolute;  background: #000000; opacity: 0.7; height: 46em; width:21%; z-index: 0; margin: 30px 0px 0px 0px; right:0px;}
.summary { position: absolute; z-index: 3; margin: 30px 0px 0px 70px;}
.summary h1 { background: #039; margin: 30px -50px 0px -15px; padding: 5px 0px 5px 0px;}
.summary ul { list-style:none;}
.summary ul li { margin: -5px 10px 0px 0px; padding: 20px 0px 20px 0px; text-align: left; font-weight: bold;}
#summarylist { position: absolute; z-index: 3; margin: 105px 0px 0px 240px;}
#summarylist ul { list-style: none}
#summarylist ul li { padding: 20px 0px 15px 0px; text-align: left;}
.statistics { position: absolute; z-index: 3; margin: 30px 0px 0px 70px; display: none;}
.statistics h1 { background: #039; margin: 30px -50px 0px -15px; padding: 5px 0px 5px 0px;}
.statistics ul { list-style:none; }
.statistics ul li { margin: 0px 0px 0px 0px; padding: 0px 0px 10px 0px; text-align: left; font-weight: bold;}
#statisticslist { display: none; position: absolute; z-index: 3; margin: 110px 0px 0px 260px;}
#statisticslist ul { list-style: none}
#statisticslist ul li { padding: 0px 0px 10px 0px; text-align: left;}
#minimize { cursor: pointer; position: absolute; width: 2em; height:4em; background:#000; color: #fff; opacity: 0.7; border-radius: 10px 0px 0px 10px; text-align: center; font-weight: bold;  top:40%; right:21%;}
#maximize { cursor: pointer; position: absolute; display:none; width: 2em; height:4em; background:#000; color: #fff; opacity: 0.7; border-radius: 10px 0px 0px 10px; text-align: center; font-weight: bold;  top:40%; right:0px;}

@media(min-width: 700px)
{
    .grid 
    {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }

    .content-wrap
    {
        grid-column: 2/4;
    }

    .gridsystem
    {
        display: grid;
        grid-template-columns:3fr 1fr;
        grid-template-rows: 1fr 5fr 1fr;
    }

    #section-one
    {
        display: grid;
        grid-column: 1/3;
        grid-row: 1/2;
        grid-template-columns: repeat(9, minmax(auto, 8em));
        align-items: center;
    }

    .tickbox
    {
        display: grid;
        grid-template-rows: 1fr 1fr;
        font-size: 15px;
        align-items: top;
    }


    #section-two
    {
        display: grid;
        grid-column: 1/3;
        grid-row: 2/3;
        align-content: center;
        grid-template-rows: 12fr 1fr;
    }

    #section-three
    {
        display: grid;
        grid-column: 1/3;
        grid-row: 3/4;
        grid-template-columns: repeat(5, minmax(auto, 12em));
        align-items: center;
    }

    #section-four
    {
        grid-column: 2/3;
        grid-row: 1/4;
    }

    #maximize
    {
        grid-column: 2/3;
        grid-row: 1/4;
    }

}